@model ProgrammingProject.Models.Dog
@{
    double totalRating = 0;
    int count = 0;
    foreach (DogRating r in Model.DogRatings) {
        totalRating += r.Rating;
        count++;
    }
    double rating = totalRating / count;
}

<div class="card owner-dog-card">
    <div class="card-body d-flex flex-column shadow">
        <div class="d-flex">
            <img src="~/img/@Model.ProfileImage" width="80" height="80" class="ms-1 rounded-circle object-fit-cover" asp-append-version="true" />
            <div class="ms-4">
                <p class="card-title fw-bold fs-5">@Html.DisplayFor(model => model.Name)</p>
                <p class="card-subtitle">@Html.DisplayFor(model => model.Breed.BreedName)</p>
                <p><i class="bi bi-star-fill"></i> 
                    @if (count == 0) {
                        <span>No Ratings</span>
                    }
                    else {
                        <span>@rating.ToString("0.0") (@count)</span>
                    }
                </p>
            </div>
        </div>
        <div class="container mb-auto">
            <dl class="row">
                <dt class="col-7">
                    @Html.DisplayNameFor(model => model.Temperament)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.Temperament)
                </dd>
                <dt class="col-7">
                    @Html.DisplayNameFor(model => model.DogSize)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.DogSize)
                </dd>
                <dt class="col-7">
                    @Html.DisplayNameFor(model => model.TrainingLevel)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.TrainingLevel)
                </dd>
                <dt class="col-7">
                    @Html.DisplayNameFor(model => model.IsVaccinated)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.IsVaccinated)
                </dd>
                <dt class="col-7">
                    @Html.DisplayNameFor(model => model.Owner)
                </dt>
                <dd class="col-5">
                    @Html.DisplayFor(model => model.Owner.FirstName)
                </dd>
            </dl>
        </div>
        @*<form method="post">
            <input name="DogID" class="form-control"
                type="hidden" value="@Model.Id" />
            <input type="submit" class="btn btn-primary" asp-controller="Profile" asp-action="EditDogProfile"
				   value="Edit Dog Profile" asp-route-id="EditDogProfile" />
        </form>*@
        <a class="btn btn-primary" asp-controller="Profile" asp-action="EditDogProfile" asp-route-dogID="@Model.Id">Edit Dog Profile</a>
    </div>
</div>