@model EditProfileViewModel
@{
    ViewData["Title"] = "Profile";

}
<div class="d-flex flex-column align-items-center mt-md-5" style="min-width: 21rem;">
    <div>
        <img src="~/img/@Model.SavedProfileImage" width="200" height="200" class="rounded-circle object-fit-cover" asp-append-version="true" />
    </div>
    <div style="@(ViewBag.ActiveView != "Index" ? "display: none" : "")">
        <label asp-for="ProfileImage" class="form-label text-center w-100">Update Profile Image</label>
        <input asp-for="ProfileImage" value=@Model.SavedProfileImage id="ProfileImage" accept=".jpg, .jpeg, .png" onchange="validateFileType()" class="form-control form-control-sm" />
        <span asp-validation-for="ProfileImage" class="text-danger"></span>
    </div>
    <div class="my-2 my-md-3">
        <p class="card-title fw-bold fs-5">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>
    </div>
    <div class="d-flex flex-column align-items-center gap-2">
        @if(!Model.IsAdmin){
        <a class="btn @(ViewBag.ActiveView == "Index" ? "btn-primary" : "btn-outline-primary") btn-profile text-md-start"
           asp-action="Index">Personal Information</a>
        }
        @if (Model.UserType.Equals("Owner") && !Model.IsAdmin)
        {
            <a class="btn @(ViewBag.ActiveView == "ViewDogs" ? "btn-primary" : "btn-outline-primary") btn-profile text-md-start"
           asp-action="ViewDogs" >Dogs</a>
        }
        @if (!Model.IsAdmin) {
            <div>
                <a class="btn @(ViewBag.ActiveView == "EditPassword" ? "btn-primary" : "btn-outline-primary") btn-profile text-md-start"
               asp-action="EditPasswordView" asp-route-uid="@Model.UserID">Change Password</a>
            </div>
        }
    </div>
</div>
@section scripts{
      <script type="text/javascript">

        // The following code validates that an only jpeg, jpg, or png files are accepted.
        function validateFileType()
        {
            var ProfileImage = document.getElementById("ProfileImage").value;
            var indexDot = ProfileImage.lastIndexOf(".") + 1;
            var endFile = ProfileImage.substr(indexDot, ProfileImage.length).toLowerCase();
            if (endFile != "jpg" && endFile != "jpeg" && endFile != "png") 
            {
                alert("Only jpg/jpeg and png files accepted.");
                document.getElementById("ProfileImage").value = "";
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  