@model ProgrammingProject.Models.WalkingSession
@{
    string displayTime(DateTime t, String format)
    {
        return t.ToString(format);
    }

    string duration(DateTime start, DateTime end)
    {
        TimeSpan d = end - start;
        return String.Format("{0}h {1}m", d.Hours, d.Minutes);
    }
    var userType = this.ViewData["userType"];
    var selectDogList = this.ViewData["selectDogList"];
}
<div class="card session-card">
    <div class="card-body container">
        <div class="d-flex justify-content-between">
            <div class="row flex-grow-1">
                <div class="col-3 col-sm-3 col-md-2">
                    <p class="fw-bold mb-0">Date</p>
                    <p class="mb-0">@displayTime(Model.ScheduledStartTime, "dd/MM/yy")</p>
                </div>
                <div class="col-9 col-sm-3 col-md-2">
                    <p class="fw-bold mb-0">Duration</p>
                    <p class="mb-0">@duration(Model.ScheduledStartTime, Model.ScheduledEndTime)</p>
                </div>
                @if (userType.Equals("Owner"))
                {
                    <div class="col-9 col-sm-3 col-md-2">
                        <p class="fw-bold mb-0">Walker</p>
                        <p class="mb-0">@Model.Walker.FirstName @Model.Walker.LastName</p>
                    </div>
                }
                <div class="col-3 col-sm-2 col-md-2">
                    <p class="fw-bold mb-0">Start</p>
                    <p class="mb-0">@displayTime(Model.ScheduledStartTime, "HH:mm")</p>
                </div>
                <div class="col-9 col-sm-4 col-md-2">
                    <p class="fw-bold mb-0">End</p>
                    <p class="mb-0">@displayTime(Model.ScheduledEndTime, "HH:mm")</p>
                </div>
                <div class="col-md-4">
                    <p class="fw-bold mb-0">Dogs On Walk</p>
                    @if (Model.DogList.Count() > 0)
                    {
                        <p class="mb-0">
                            @{
                                int count = 0;
                            }
                            @foreach (var d in Model.DogList)
                            {
                                if (count > 0)
                                {
                                    @Html.Raw(", ")
                                }
                                @Html.DisplayFor(x => d.Name)
                                count++;

                            }
                        </p>
                    }
                    else
                    {
                        <p class="mb-0">No Dogs</p>
                    }
                </div>

            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-lg-end gap-1" style="height: min-content">
                @*                                <a type="button" class="btn btn-secondary" asp-action="EditWalkingSession"
                asp-route-id="@Model.SessionID">
                <i class="bi bi-pencil-square"></i>
                </a>*@
                @if (userType.Equals("Walker"))
                {
                    @*<form asp-action="EditWalkingSession">
                        <input type="hidden" id="SessionID" name="SessionID" class="form-control"
                           data-val="true" value=@Html.DisplayFor(x => Model.SessionID)/>
                    <div class="flex-grow-1">
                            <input type="submit" class="btn btn-secondary" asp-action="EditWalkingSession"
                               value="Edit" asp-route-id="EditWalkingSession" />
                        </div>

                    </form>*@

                    <a class="btn btn-primary"
                   asp-action="EditWalkingSession" asp-route-sessionID=@Model.SessionID>Edit</a>

@*                    <form asp-action="DeleteWalkingSession">
                        <input type="hidden" id="SessionID" name="SessionID" class="form-control"
                           data-val="true" value=@Model.SessionID/>
                    <div class="flex-grow-1">
                            <input type="submit" class="btn btn-secondary" asp-action="DeleteWalkingSession"
                               value="Delete" asp-route-id="DeleteWalkingSession" />
                        </div>

                    </form>*@

                    <a class="btn btn-primary"
                   asp-action="DeleteWalkingSession" asp-route-sessionID=@Model.SessionID>Delete</a>

                    @*                <button type="button" class="btn btn-secondary" disabled>
                <i class="bi bi-trash"></i>
                </button>*@
                    @*<form asp-action="StartWalkingSession">
                        <input type="hidden" id="SessionID" name="SessionID" class="form-control"
                           data-val="true" value=@Html.DisplayFor(x => Model.SessionID)/>
                    <div class="flex-grow-1">
                            <input type="submit" class="btn btn-primary" asp-action="StartWalkingSession"
                               value="Start Session" asp-route-id="StartWalkingSession" />
                        </div>

                    </form>*@
                    <a class="btn btn-primary"
                   asp-action="StartWalkingSession" asp-route-sessionID=@Model.SessionID>Start Session</a>
                }
                else if(userType.Equals("Owner"))
                {
                    <a class="btn btn-primary"
                   asp-action="AddDogToSession" asp-route-sessionID=@Model.SessionID>Add Dog</a>
                }
            </div>
        </div>
    </div>
</div>