@model Dog
@{
    ViewData["Title"] = "Walker";
    var dogs = (List<Dog>)ViewBag.Dogs;
    var walker = (Walker)ViewBag.Walker;
}

<div>
    <h1 class="display-4">This is, @walker.FirstName @walker.LastName</h1>
    <h6 class="display-4">@walker.FirstName is a Walker</h6>
</div>

<div>
    <h3>Suitable Dogs</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th class="table-primary">@Html.DisplayNameFor(x => x.Breed)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.DogSize)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.Name)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.Temperament)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.TrainingLevel)</th>
                @*<th class="table-primary">@Html.DisplayNameFor(x => x.Owner.FirstName)</th>*@
                <th class="table-primary">Owners First Name</th>
                <th class="table-primary">Action</th>
            </tr>

            @foreach (var dog in dogs)
            {
                <tr>
                    @*<td>@Html.DisplayFor(x => dog.Breed)</td>*@
                    <td>@Html.DisplayFor(x => dog.Breed)</td>
                    <td>@Html.DisplayFor(x => dog.DogSize)</td>
                    <td>@Html.DisplayFor(x => dog.Name)</td>
                    <td>@Html.DisplayFor(x => dog.Temperament)</td>
                    <td>@Html.DisplayFor(x => dog.TrainingLevel)</td>
                    <td>@Html.DisplayFor(x => dog.Owner.FirstName)</td>
                    <form asp-action="WalkingSessions">
                    <td>
                        <input name="DogID" class="form-control"
                           type="hidden" value="@dog.Id" />
                        <input type="submit" class="btn btn-primary" asp-action="WalkingSessions"
                           value="Add Dog To Walking Session" asp-route-id="WalkingSessions" />
                    </td>
                    </form>
                </tr>
            }
        </table>
    </div>

</div>