@model WalkingSession
@{
    ViewData["Title"] = "Past Sessions";
    var walks = (List<WalkingSession>)ViewBag.WalkingSession;
    var userType = "Previous";
    // yes, this field should be renamed from userType to something else like 'context'. 
    // no, i don't want to at this point in time.

}

<div>
    <h1 class="display-4">Walking Sessions</h1>
</div>

<div>
    <h3>Previous Sessions</h3>

    @foreach (var session in walks) {
        @Html.Partial("../Shared/Components/_WalkingSessionRow.cshtml",session,  new ViewDataDictionary(this.ViewData){{"userType", userType}})
    }

    @*<div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th class="table-primary">@Html.DisplayNameFor(x => x.SessionID)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.ScheduledStartTime)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.ScheduledEndTime)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.ActualStartTime)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.ActualEndTime)</th>
                <th class="table-primary">@Html.DisplayNameFor(x => x.DogList)</th>
            </tr>
            @{
                DateTime date = new DateTime();
                foreach (var sessions in walks)
                {
                    if (DateTime.Compare(sessions.Date, DateTime.Now) < 0 || sessions.ActualStartTime != date)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => sessions.SessionID)</td>
                            <td>@Html.DisplayFor(x => sessions.ScheduledStartTime)</td>
                            <td>@Html.DisplayFor(x => sessions.ScheduledEndTime)</td>
                            <td>@Html.DisplayFor(x => sessions.ActualStartTime)</td>
                            <td>@Html.DisplayFor(x => sessions.ActualEndTime)</td>
                            @if (sessions.DogList != null)
                            {
                                <td>
                                    @foreach (var d in sessions.DogList)
                                    {
                                        @Html.DisplayFor(x => d.Name)

                                        <br />
                                    }
                                </td>
                            }
                            else
                            {
                                <td>No Dogs</td>
                            }
                        </tr>
                    }
                }
            }
        </table>
    </div>*@

</div>