@model EditDogProfileViewModel
@{
    ViewData["Title"] = "Edit Dog Profile Save";
    var vm = (EditProfileViewModel)ViewBag.EditProfileViewModel;
    var  breeds = (List<Breed>)ViewBag.BreedsList;
}

<div>
    <h3 class="display-4">@Model.Name's Profile</h3>
    <form asp-action="EditDogProfileSave" enctype="multipart/form-data" class="d-flex flex-column flex-md-row gap-md-4">
        @*<partial name="../Shared/Components/_ProfileMainInfo.cshtml" model=@vm; />*@
        <input asp-for=DogId type="hidden" value="@Model.DogId" />
        <input asp-for=BusinessName type="hidden" value="@Model.BusinessName" />
        <input asp-for=PhNumber type="hidden" value="@Model.PhNumber" />
        <input asp-for=Email type="hidden" value="@Model.Email" />
        <input asp-for=StreetAddress type="hidden" value="@Model.StreetAddress" />
        <input asp-for=State type="hidden" value="@Model.State" />
        <input asp-for=SuburbName type="hidden" value="@Model.SuburbName" />
        <input asp-for=Postcode type="hidden" value="@Model.Postcode" />
        <input asp-for=SavedProfileImage type="hidden" value="@Model.SavedProfileImage" />
            <div class="d-flex flex-column align-items-center mt-md-5" style="min-width: 21rem;">
                <div>
                    <img src="~/img/@Model.SavedProfileImage" width="200" height="200" class="rounded-circle" asp-append-version="true" />
                </div>
                <div class="form-group">
                    <label asp-for=ProfileImage class="form-label text-center w-100">Update Profile Image</label>
                <input asp-for=ProfileImage value=@Model.SavedProfileImage id ="ProfileImage" accept=".jpg, .jpeg, .png" onchange="validateFileType()" type="file" class="form-control form-control-sm" />
                    <span asp-validation-for=ProfileImage class="text-danger"></span>
                </div>
                <div class="d-flex flex-column align-items-center gap-2 mt-2 mt-md-3">
                    <input type="submit" class="btn btn-primary text-md-start btn-profile" asp-controller="Profile" asp-action="EditDogProfile"
                       value="Dog Profile" asp-route-dogId="@Model.DogId" />
                    @*<input type="submit" class="btn btn-outline-primary text-md-start btn-profile" asp-controller="Profile" asp-action="EditVet"
                       value="Edit Vet Information" />*@
                    <a class="btn btn-outline-primary text-md-start btn-profile" asp-controller="Profile" asp-action="EditVet" asp-route-dogId="@Model.DogId">Edit Vet Information</a>
                    @*asp-route-id="EditVet" *@
                    <button class="btn btn-outline-primary text-md-start btn-profile" asp-controller="Profile" asp-action="Index">
                        <i class="bi bi-arrow-left-circle"></i>
                        My Profile
                    </button>
                </div>
            </div>
            <div class="bg-highlight p-4 rounded flex-grow-1 mt-4 mt-md-0">
                <table class="table">
                    <tr>
                            @*<td><b>@Html.DisplayNameFor(Model => Model.Name): </b></td>*@
                        <td><b>Name:</b></td>
                        <td>
                            <div class="form-group">
                                <input id="Name" asp-for="Name" value=@Model.Name class="form-control" data-val="true" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            @*<td><b>@Html.DisplayNameFor(Model => Model.Breed): </b></td>*@
                        <td><b>Breed:</b></td>
                        <td>
                            <div class="form-group" style="position: relative">
                                <input id="Breed" asp-for="Breed" value=@Model.Breed class="form-control" data-val="true"
                                   onkeyup="filterInput('Breed', 'breedsList')"
                                   onfocusout="filterFocusOut('breedsList')" />
                                <div id="filter" class="bg-body">
                                    <ul id="breedsList" class="mb-0 filter-list" style="display: none;">
                                        @foreach (var breed in breeds) {
                                            <li style="display: none;">
                                                <button data-name="@breed.BreedName"
                                                        onmousedown="breedClick(event, this)"
                                                        class="m-0">
                                                    @breed.BreedName
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <span asp-validation-for="Breed" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            @*<td><b>@Html.DisplayNameFor(Model => Model.MicrochipNumber): </b></td>*@
                        <td><b>Microchip Number:</b></td>
                        <td>
                            <div class="form-group">
                                <input id="MicrochipNumber" asp-for="MicrochipNumber" value=@Model.MicrochipNumber class="form-control" data-val="true" />
                                <span asp-validation-for="MicrochipNumber" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            @*<td><b>@Html.DisplayNameFor(Model => Model.Temperament): </b></td>*@
                        <td><b>Temperament:</b></td>
                        <td>
                            <div class="form-group">
                                <select id="Temperament" class="form-select" asp-items="Model.TemperamentList" asp-for="Temperament">
                                    <option value="" hidden>@Model.Temperament></option>
                                </select>
                                <span asp-validation-for="Temperament" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            @*<td><b>@Html.DisplayNameFor(Model => Model.DogSize): </b></td>*@
                        <td><b>Size</b></td>
                        <td>
                            <div class="form-group">
                                <select id="DogSize" class="form-select" asp-items="Model.DogSizeList" asp-for="DogSize">
                                    <option value="" hidden>@Model.DogSize></option>
                                </select>
                                <span asp-validation-for="DogSize" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            @*<td><b>@Html.DisplayNameFor(Model => Model.TrainingLevel): </b></td>*@
                        <td><b>Training Level:</b></td>
                        <td>
                            <div class="form-group">
                                <select id="TrainingLevel" class="form-select" asp-items="Model.TrainingLevelList" asp-for="TrainingLevel">
                                    <option value="" hidden>@Model.TrainingLevel></option>
                                </select>
                                <span asp-validation-for="TrainingLevel" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            @*<td><b>@Html.DisplayNameFor(Model => Model.BusinessName): </b> @Model.BusinessName</td>*@
                        <td><b>Vet's Business:</b></td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" disabled readonly value="@Model.BusinessName" name="VetBusiness" />
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="form-group d-flex justify-content-between flex-row-reverse">
                    <input type="submit" class="btn btn-primary" asp-controller="Profile" asp-action="EditDogProfileSave"
                           value="Save" />
                </div>

            </div>
    </form>
</div>
@section scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
    @*<script type="text/javascript">

        // The following code validates that an only jpeg, jpg, or png files are accepted.
        function validateFileType() {
            var ProfileImage = document.getElementById("ProfileImage").value;
            var indexDot = ProfileImage.lastIndexOf(".") + 1;
            var endFile = ProfileImage.substr(indexDot, ProfileImage.length).toLowerCase();
            if (endFile != "jpg" && endFile != "jpeg" && endFile != "png") 
            {
                alert("Only jpg/jpeg and png files accepted.");
                document.getElementById("ProfileImage").value = "";
            }
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }*@
}