@model EditProfileViewModel
@{
    ViewData["Title"] = "Profile";
    var suburbs = (List<Suburb>)ViewBag.SuburbsList;
}

<div>
    <h1 class="display-4">Personal Information</h1>

    <form asp-controller="Profile" asp-action="EditProfile" enctype="multipart/form-data">
        <input asp-for=Country type="hidden" value=@Model.Country />
        <input asp-for=IsAdmin type="hidden" value=@Model.IsAdmin />
        <input asp-for=UserID type="hidden" value=@Model.UserID />
        <partial name="../Shared/Components/_ProfileMainInfo.cshtml" model=@Model; />
        <table class="table">
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.Email): </b> @Model.Email</td>
                <input asp-for=Email type="hidden" value=@Model.Email />
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.FirstName): </b></td>
                <td>
                    <div class="form-group">
                        <input id="FirstName" asp-for="FirstName" value=@Model.FirstName class="form-control" data-val="true" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.LastName): </b> </td>
                <td>
                    <div class="form-group">
                        <input id="LastName" asp-for="LastName" value=@Model.LastName class="form-control" data-val="true" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.StreetAddress):</b></td>
                <td>
                    <div class="form-group">
                        <input id="StreetAddress" asp-for="StreetAddress" value=@Model.StreetAddress class="form-control" data-val="true" />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.SuburbName): </b></td>
                <td>

                     <div class="form-group" style="position: relative;">
                        <input 
                            id="SuburbName" 
                            asp-for="SuburbName" 
                            value=@Model.SuburbName 
                            class="form-control" 
                            data-val="true" 
                            onkeyup="filterSuburbs('SuburbName', 'suburbsList')" 
                            onfocusout="filterFocusOut()" />
                        <div id="filter">
                            <ul id="suburbsList" class="mb-0 filter-list" style="display: none;">
                                @foreach (var suburb in suburbs) {
                                    <li style="display: none;">
                                        <button data-postcode="@suburb.Postcode"
                                                data-name="@suburb.SuburbName"
                                                onmousedown="suburbClick(event, this)"
                                                class="m-0">
                                            @suburb.SuburbName, @suburb.Postcode
                                        </button>
                                    </li>
                                }
                            </ul>
                        </div>

               //     <div class="form-group">
                     //   <input id="SuburbName" asp-for="SuburbName" value=@Model.SuburbName class="form-control" data-val="true" />

                        <span asp-validation-for="SuburbName" class="text-danger"></span>
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.Postcode): </b></td>
                <td>
                    <div class="form-group">
                        <input id="Postcode" asp-for="Postcode" value=@Model.Postcode class="form-control" data-val="true" />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.State): </b></td>
                <td>
                    <div class="form-group">
                        <select id="State" class="form-select" asp-items="Model.StatesList" asp-for="State">
                            <option value="" hidden>@Model.State></option>
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.PhNumber): </b></td>
                <td>
                    <div class="form-group">
                        <input id="PhNumber" asp-for="PhNumber" value=@Model.PhNumber class="form-control" data-val="true" />
                        <span asp-validation-for="PhNumber" class="text-danger"></span>
                    </div>
                </td>
            </tr>

            @if (Model.UserType.Equals("Walker"))
            {
                <tr>
                    <td><b>@Html.DisplayNameFor(Model => Model.IsInsured): </b></td>
                    <td>
                        <div class="form-group">
                            <select id="insurance" class="form-select" asp-items="Model.IsInsuredList" asp-for="IsInsured">
                                <option value="" hidden>@Model.IsInsured></option>
                            </select>
                            <span asp-validation-for="IsInsured" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(Model => Model.ExperienceLevel): </b></td>
                    <td>
                        <div class="form-group">
                            <select id="experience" class="form-select" asp-items="Model.ExperienceList" asp-for="ExperienceLevel">
                                <option value="" hidden>@Model.ExperienceLevel</option>
                            </select>
                            <span asp-validation-for="ExperienceLevel" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            }
        </table>
        @if (!Model.UserType.Equals("Administrator"))
        {
            <div>
                <a class="btn btn-primary" style="padding-top: 15px"
               asp-action="EditProfile" asp-route-id="1">Change Password</a>
            </div>
        }
        <div class="form-group" style="padding-top: 15px">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>  
</div>
@section Scripts {
    <script type="text/javascript" src="js/site.js"></script>
}

