@model AddDogViewModel

@{
    ViewData["Title"] = "AddDog";
    var breeds = (List<Breed>)ViewBag.BreedsList;
    var suburbs = (List<Suburb>)ViewBag.SuburbsList;
}

<h1 class="display-4">Add Dog</h1>

<div class="">
    <div class="">
        <form asp-action="AddDog" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
            <div id="section1">
                <div class="form-group mt-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" data-val="true"
                           data-val-required="Dogs name field is required." placeholder="Dogs Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-3" style="position: relative;">

                    <label asp-for="Breed" class="control-label"></label>
                    <input asp-for="Breed"
                           class="form-control"
                           data-val="true"
                           data-val-required="Dogs breed field is required."
                           placeholder="Dogs Breed"
                           onkeyup="filterInput('Breed', 'breedsList')"
                           onfocusout="filterFocusOut('breedsList')" />
                    <div id="filter">
                        <ul id="breedsList" class="mb-0 filter-list" style="display: none;">
                            @foreach (var breed in breeds) {
                                <li style="display: none;">
                                    <button data-name="@breed.BreedName"
                                            onmousedown="breedClick(event, this)"
                                            class="m-0">
                                        @breed.BreedName
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                    <span asp-validation-for="Breed" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="MicrochipNumber" class="control-label"></label>
                    <input asp-for="MicrochipNumber" class="form-control" data-val="true"
                           data-val-required="Dogs microchip number field is required." placeholder="Dogs Microchip Number" />
                    <span asp-validation-for="MicrochipNumber" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="IsVaccinated" class="control-label"></label>
                    <select class="form-select" asp-items="Model.IsVaccinatedList" asp-for="IsVaccinated">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="IsVaccinated" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Temperament" class="control-label"></label>
                    <select class="form-select" asp-items="Model.TemperamentList" asp-for="Temperament">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="Temperament" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="DogSize" class="control-label"></label>
                    <select class="form-select" asp-items="Model.DogSizeList" asp-for="DogSize">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="DogSize" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="TrainingLevel" class="control-label"></label>
                    <select class="form-select" asp-items="Model.TrainingLevelList" asp-for="TrainingLevel">
                        <option value="" hidden>-- Please Select --</option>
                    </select>
                    <span asp-validation-for="TrainingLevel" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ProfileImage" class="control-label"></label>
                    <input asp-for="ProfileImage" id="ProfileImage" accept=".jpg, .jpeg, .png" onchange="validateFileType()" type="file" class="form-control" />
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>
                @*<div class="d-flex flex-row-reverse justify-content-between align-items-center">
                    <button onclick="toggleForms(event)" class="btn btn-primary">Next</button>
                </div>*@
            </div>
            <div id="section2" @*class="d-none"*@>
                <p class="h5 mt-3">Vet Information</p>
                <div class="form-group mt-3">
                    <label asp-for="BusinessName" class="control-label"></label>
                    <input asp-for="BusinessName" class="form-control" data-val="true"
                           data-val-required="Vets Business Name field is required." placeholder="Vets Business Name" />
                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="PhNumber" class="control-label"></label>
                    <input asp-for="PhNumber" class="form-control" data-val="true"
                           data-val-required="Vets Phone Number field is required." placeholder="Vets Phone Number" />
                    <span asp-validation-for="PhNumber" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" data-val="true"
                           data-val-required="Vets Email field is required." placeholder="Vets Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="StreetAddress" class="control-label"></label>
                    <input asp-for="StreetAddress" class="form-control" data-val="true"
                           data-val-required="The Address field is required." placeholder="Address Line 1" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-group mt-3" style="position: relative">
                    <label asp-for="SuburbName" class="control-label"></label>
                    <input asp-for="SuburbName" class="form-control" data-val="true"
                           data-val-required="The Suburb field is required." placeholder="Suburb" 
                           onkeyup="filterInput('SuburbName', 'suburbsList')" onfocusout="filterFocusOut('suburbsList')" />
                    <div id="filter">
                        <ul id="suburbsList" class="mb-0 filter-list" style="display: none;">
                            @foreach (var suburb in suburbs) {
                                <li style="display: none;">
                                    <button data-postcode="@suburb.Postcode"
                                            data-name="@suburb.SuburbName"
                                            onmousedown="suburbClick(event, this)"
                                            class="m-0">
                                        @suburb.SuburbName, @suburb.Postcode
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                    <span asp-validation-for="SuburbName" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Postcode" class="control-label"></label>
                    <input asp-for="Postcode" class="form-control" data-val="true"
                           data-val-required="The Postcode field is required." placeholder="Postcode" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="State" class="control-label"></label>
                    <select class="form-select" asp-items="Model.StatesList" asp-for="State">
                        <option value="" hidden>-- Please Select A State --</option>
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" Value="Australia" readonly="true" data-val="true"
                           data-val-required="The country is required." />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row-reverse justify-content-between align-items-center mt-3">
                    <input type="submit" value="Register Dog" class="btn btn-primary" />
                    @*<button onclick="toggleForms(event)" class="btn btn-primary">Back</button>*@
                </div>
                <div class="invisible">
                    <input disabled type="file" class="form-control" />
                </div>
            </div>
            @Html.ValidationMessage("RegistrationFailure", new {@class = ""})
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="../js/site.js"></script>
    <script type="text/javascript">

        // The following code validates that an only jpeg, jpg, or png files are accepted.
        function validateFileType()
        {
            var ProfileImage = document.getElementById("ProfileImage").value;
            var indexDot = ProfileImage.lastIndexOf(".") + 1;
            var endFile = ProfileImage.substr(indexDot, ProfileImage.length).toLowerCase();
            if (endFile != "jpg" && endFile != "jpeg" && endFile != "png") 
            {
                alert("Only jpg/jpeg and png files accepted.");
                document.getElementById("ProfileImage").value = "";
            }
        }

        function toggleForms(e) {
            e.preventDefault(); // this should be tested on IE / Firefox
            $("#section1").toggleClass("d-none")
            $("#section2").toggleClass("d-none")
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  