@model EditDogProfileViewModel
@{
    ViewData["Title"] = "Dog Profile";
}

<div>
    <h1 class="display-4">@Model.Name's Profile</h1>
    <form method="post">
        <input name="DogID" class="form-control"
               type="hidden" value="@Model.DogId" />
        <table class=" " table:>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.SavedDogImage): </b>
                    <img src="~/img/@Model.SavedDogImage" width="80" height="80" style="border-radius: 80px;" class="ms-1" asp-append-version="true" />
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="15" />
                </td>         
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.Name): </b> @Model.Name</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="1" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.Breed): </b> @Model.Breed</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="2" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.MicrochipNumber): </b> @Model.MicrochipNumber</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="3" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.IsVaccinated): </b> @Model.IsVaccinated</td>
              @*  <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="4" />
                </td>*@
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.Temperament): </b> @Model.Temperament</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="5" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.DogSize): </b> @Model.DogSize</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="6" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.TrainingLevel): </b> @Model.TrainingLevel</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="7" />
                </td>
            </tr>
        </table>
        <h2 class="display-4">@Model.Name's Vets Profile</h2>
        <table>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.BusinessName): </b> @Model.BusinessName</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="8" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.PhNumber): </b> @Model.PhNumber</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="9" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.Email): </b> @Model.Email</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="10" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.StreetAddress): </b> @Model.StreetAddress</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="11" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.SuburbName): </b> @Model.SuburbName</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="12" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.Postcode): </b> @Model.Postcode</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="13" />
                </td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(Model => Model.State): </b> @Model.State</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Edit"
                           asp-action="EditDogProfileVariable" asp-route-id="14" />
                </td>
            </tr>

        </table>
    </form>
</div>