@model Owner

@{
    string displayTime(DateTime t, String format)
    {
        return t.ToString(format);
    }


    ViewData["Title"] = "AddDogToSession";
    var walkingSession = (WalkingSession)ViewBag.WalkingSession;


}

<h1>Add Dog To Session</h1>

<div class="mb-5 d-flex flex-column gap-1">
    @{
        foreach (var dog in Model.Dogs)
        {
            <div class="card session-card">
                <div class="card-body container">
                    <div class="d-flex justify-content-between">
                        <div class="row flex-grow-1">

                            <div class="col-3 col-sm-3 col-md-2">
                                <img src="~/img/@dog.ProfileImage" width="40" height="40" style="border-radius: 80px;" class="ms-1" asp-append-version="true" />
                            </div>

                            <div class="col-3 col-sm-3 col-md-2">
                                <p class="fw-bold mb-0">Dog</p>
                                <p class="mb-0">@Html.DisplayFor(x=>dog.Name)</p>
                            </div>


                            <div class="col-9 col-sm-3 col-md-2">
                                <p class="fw-bold mb-0">Date</p>
                                <p class="mb-0">@displayTime(walkingSession.ScheduledStartTime, "dd/MM/yy")</p>
                            </div>

                            <div class="col-3 col-sm-2 col-md-2">
                                <p class="fw-bold mb-0">Start</p>
                                <p class="mb-0">@displayTime(walkingSession.ScheduledStartTime, "HH:mm")</p>
                            </div>
                            <div class="col-9 col-sm-4 col-md-2">
                                <p class="fw-bold mb-0">End</p>
                                <p class="mb-0">@displayTime(walkingSession.ScheduledEndTime, "HH:mm")</p>
                            </div>

                            <div class="col-md-4">
                                <p class="fw-bold mb-0">Walker</p>
                                <p class="mb-0">@walkingSession.Walker.FirstName @walkingSession.Walker.LastName</p>
                            </div>

                            <div class="d-flex flex-column flex-lg-row justify-content-lg-end gap-1" style="height: min-content">

                                <a class="btn btn-primary"
                           asp-action="UpdateNewDogInSession" asp-route-sessionID=@walkingSession.SessionID asp-route-dogID=@dog.Id>Add</a>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    }
</div>